In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import sys
import os

# Add the parent directory to the Python path
sys.path.append(os.path.abspath(os.path.join(os.getcwd(), "..")))

In [3]:
import pandas as pd
from src.config import TRANSFORMED_DATA_DIR

df = pd.read_parquet(TRANSFORMED_DATA_DIR / "citibike_tabular_data.parquet")
df

,rides_t-12,rides_t-11,rides_t-10,rides_t-9,rides_t-8,rides_t-7,rides_t-6,rides_t-5,rides_t-4,rides_t-3,rides_t-2,rides_t-1,target,pickup_hour,pickup_location_id
0,0,0,0,0,0,0,0,0,1,2,5,2,7,2024-01-06 12:00:00,HB101
1,0,0,0,0,0,0,0,1,2,5,2,7,3,2024-01-06 13:00:00,HB101
2,0,0,0,0,0,0,1,2,5,2,7,3,2,2024-01-06 14:00:00,HB101
3,0,0,0,0,0,1,2,5,2,7,3,2,3,2024-01-06 15:00:00,HB101
4,0,0,0,0,1,2,5,2,7,3,2,3,3,2024-01-06 16:00:00,HB101
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57655,0,8,2,0,2,2,1,4,5,16,40,25,4,2025-04-30 19:00:00,JC115
57656,8,2,0,2,2,1,4,5,16,40,25,4,7,2025-04-30 20:00:00,JC115
57657,2,0,2,2,1,4,5,16,40,25,4,7,1,2025-04-30 21:00:00,JC115
57658,0,2,2,1,4,5,16,40,25,4,7,1,0,2025-04-30 22:00:00,JC115
57659,2,2,1,4,5,16,40,25,4,7,1,0,0,2025-04-30 23:00:00,JC115

In [5]:
features_and_targets= df.copy()

In [6]:
features = features_and_targets.drop(columns=["target"])
targets = features_and_targets["target"]

In [7]:
plot_aggregated_time_series(features, targets, row_id=100)  # or any other valid row ID

NameError: name 'plot_aggregated_time_series' is not defined