In [2]:
%load_ext autoreload
%autoreload 2

In [3]:
import sys
import os

# Add the parent directory to the Python path
sys.path.append(os.path.abspath(os.path.join(os.getcwd(), "..")))

In [4]:
import pandas as pd

from src.config import TRANSFORMED_DATA_DIR

features_and_targets = pd.read_parquet(TRANSFORMED_DATA_DIR / "tabular_data.parquet")

In [5]:
features = features_and_targets.iloc[:, :-1]
targets = features_and_targets["target"]

In [6]:
features

,rides_t-672,rides_t-671,rides_t-670,rides_t-669,rides_t-668,rides_t-667,rides_t-666,rides_t-665,rides_t-664,rides_t-663,...,rides_t-8,rides_t-7,rides_t-6,rides_t-5,rides_t-4,rides_t-3,rides_t-2,rides_t-1,pickup_hour,pickup_location_id
0,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,2023-01-29,2
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,2023-01-30,2
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,2023-01-31,2
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,2023-02-01,2
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,2023-02-02,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87615,25,14,5,3,7,16,53,133,126,136,...,73,62,62,58,50,48,42,37,2023-12-27,263
87616,30,7,9,6,5,23,58,123,136,108,...,83,64,79,65,71,72,75,35,2023-12-28,263
87617,50,26,17,9,8,11,43,116,137,132,...,71,81,78,60,85,63,62,37,2023-12-29,263
87618,117,88,39,19,14,12,27,37,70,97,...,78,84,75,100,98,88,77,69,2023-12-30,263
87619,120,82,61,41,13,12,26,37,45,99,...,78,85,76,95,68,76,71,61,2023-12-31,263

In [7]:
targets

0         0
1         0
2         0
3         0
4         0
         ..
87615    12
87616    19
87617    38
87618    59
87619    65
Name: target, Length: 87620, dtype: int16

In [9]:
features[features['pickup_location_id']==43]

,rides_t-672,rides_t-671,rides_t-670,rides_t-669,rides_t-668,rides_t-667,rides_t-666,rides_t-665,rides_t-664,rides_t-663,...,rides_t-8,rides_t-7,rides_t-6,rides_t-5,rides_t-4,rides_t-3,rides_t-2,rides_t-1,pickup_hour,pickup_location_id
13817,92,81,29,15,4,4,3,12,12,23,...,227,198,114,149,98,42,38,37,2023-01-29,43
13818,2,0,2,2,0,1,5,10,16,29,...,175,97,57,35,28,16,17,10,2023-01-30,43
13819,1,0,0,0,1,4,17,49,54,52,...,145,104,99,74,50,33,16,16,2023-01-31,43
13820,3,2,0,0,1,1,11,51,50,60,...,156,106,88,80,49,43,34,13,2023-02-01,43
13821,6,0,0,1,0,2,10,61,62,66,...,138,112,103,103,78,56,40,25,2023-02-02,43
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14149,3,0,1,0,1,6,13,54,106,83,...,205,132,64,49,44,31,14,10,2023-12-27,43
14150,6,2,2,0,1,7,8,58,84,90,...,97,57,73,29,48,42,24,7,2023-12-28,43
14151,20,7,2,0,3,3,13,54,67,90,...,239,128,73,52,50,43,30,17,2023-12-29,43
14152,10,8,3,1,3,0,8,19,35,67,...,200,185,160,133,158,69,33,19,2023-12-30,43
14153,19,10,1,2,2,3,2,23,28,64,...,192,173,144,111,133,78,39,28,2023-12-31,43

In [ ]:
from src.plot_utils import plot_aggregated_time_series

plot_aggregated_time_series(features, targets, row_id=43)

KeyError: False